<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fox club</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Create a new pet</h1>
<p>Please don't forget to give your pet something to eat and drink.</p>
<p>You can also assign one trick to your newly created pet.</p>
<form action="/create" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"/>
    </div>
    <div>
        <select name="food">
            <option th:each="food : ${foods}" th:text="${food.getName()}"></option>
        </select>
        <select name="drink">
            <option th:each="drink : ${drinks}" th:text="${drink.getName()}"></option>
        </select>
        <select name="trick">
            <option th:each="trick : ${tricks}" th:text="${trick.getName()}"></option>
        </select>
    </div>
    <p>Or add your own customized food, drink or trick <a href="/addcustomvalues">here</a>.</p>
    <div>
        <input type="submit" value="Create"/>
    </div>
</form>
</body>
</html>