<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fox club</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<ul>
    <li><a th:href="@{'/nutritionstore?name=' + ${fox.getName()}}">Nutrition store</a></li>
</ul>
<img src="greenfox.png">
<p th:text="'This is ' + ${fox.getName()} + '. Currently living on ' + ${fox.getFood()} + ' and ' + ${fox.getDrink()} + '. It knows ' + ${fox.countTricks()} + ' trick(s).'"/>
<h1>Known trick(s)</h1>
<div>
    <ul>
        <li th:each="trick : ${fox.getKnownTricks()}" >
            <p th:text="${trick.getName()}"/>
        </li>
    </ul>
</div>
</body>
</html>