<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fox club</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Nutrition store</h1>
<p>Please select some food and drink for your pet.</p>
<form th:action="@{'/nutritionstore?name=' + ${fox.name}}" method="post">
    <div>
        <select name="food">
            <option th:each="food : ${foods}" th:text="${food.getName()}"></option>
        </select>
        <select name="drink">
            <option th:each="drink : ${drinks}" th:text="${drink.getName()}"></option>
        </select>
        <p>Or add your custom food or drink <a href="/addcustomvalues">here</a>.</p>
    </div>
    <div>
        <input type="submit" value="Create"/>
    </div>
</form>
</body>
</html>