<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise 1</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Bank accounts</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Animal type</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bankaccount : ${bankaccountlist}">
        <td th:text="${bankaccountStat.index}"></td>
        <td th:text="${bankaccount.getName()}"></td>
        <td th:text="${bankaccount.getBalanceValue()} + ' ' + ${bankaccount.getBalanceCurrency()}"></td>
        <td th:text="${bankaccount.getAnimalType()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>